.cooler-light-container {
    text-align: center; /* Center the image and specs */
    margin: 20px;
  }
  
  .cooler-light-image {
    max-width: 100%; /* Make sure image fits within the container */
    cursor: pointer; /* Change cursor to indicate clickability */
  }
  
  .specifications {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .specifications h2 {
    margin-top: 0;
  }
  
  .specifications p {
    margin: 5px 0;
  }
  